/* 标题栏，工具 icon 列表左对齐 */
body {
  --file-header-justify: flex-start;
}

.nav-buttons-container,
.view-actions,
.workspace-tab-header-inner,
.side-dock-settings,
.side-dock-actions {
  justify-content: flex-start;
}

/* 解决 callout 内容第一块是代码块时，离标题太近的问题 */
.callout-title + .callout-content > pre:first-child {
  margin-top: 1em;
}

/* 解决行号占用内容宽度，导致内容宽度变窄的问题 */
.cm-contentContainer:has(> .cm-gutters) {
  margin-left: -54px;
}

/* 笔记计数 */
/* 需要 File Explorer Note Count 插件 */
.nav-folder.oz-explorer-root-folder {
  height: 0;
  margin: 0;
}

.nav-folder.oz-explorer-root-folder .oz-explorer-root-nav-folder-title::after {
  position: absolute;
  top: 14px;
  right: 20px;
  color: var(--nav-item-color);
  font-size: 10.4px;
}

.nav-folder.oz-explorer-root-folder .oz-explorer-root-nav-folder-title .nav-folder-title-content {
  display: none;
}

/* 标题级别指示 */
.markdown-reading-view h1,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-1
  :not(.cm-header.cm-header-1 ~ .cm-header.cm-header-1).cm-header.cm-header-1:not(.cm-formatting) {
  position: relative;
  margin-left: 20px;
}
.markdown-reading-view h1::before,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-1
  :not(.cm-header.cm-header-1 ~ .cm-header.cm-header-1).cm-header.cm-header-1:not(.cm-formatting)::before {
  content: 'H1';
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--font-text);
  color: var(--text-faint);
  font-size: 12px;
  vertical-align: middle;
  margin-right: 4px;
}

.markdown-reading-view h2,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-2
  :not(.cm-header.cm-header-2 ~ .cm-header.cm-header-2).cm-header.cm-header-2:not(.cm-formatting) {
  position: relative;
  margin-left: 20px;
}
.markdown-reading-view h2::before,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-2
  :not(.cm-header.cm-header-2 ~ .cm-header.cm-header-2).cm-header.cm-header-2:not(.cm-formatting)::before {
  content: 'H2';
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--font-text);
  color: var(--text-faint);
  font-size: 12px;
  vertical-align: middle;
}

.markdown-reading-view h3,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-3
  :not(.cm-header.cm-header-3 ~ .cm-header.cm-header-3).cm-header.cm-header-3:not(.cm-formatting) {
  position: relative;
  margin-left: 20px;
}
.markdown-reading-view h3::before,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-3
  :not(.cm-header.cm-header-3 ~ .cm-header.cm-header-3).cm-header.cm-header-3:not(.cm-formatting)::before {
  content: 'H3';
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--font-text);
  color: var(--text-faint);
  font-size: 12px;
  vertical-align: middle;
  margin-right: 4px;
}

.markdown-reading-view h4,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-4
  :not(.cm-header.cm-header-4 ~ .cm-header.cm-header-4).cm-header.cm-header-4:not(.cm-formatting) {
  position: relative;
  margin-left: 20px;
}
.markdown-reading-view h4::before,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-4
  :not(.cm-header.cm-header-4 ~ .cm-header.cm-header-4).cm-header.cm-header-4:not(.cm-formatting)::before {
  content: 'H4';
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--font-text);
  color: var(--text-faint);
  font-size: 12px;
  vertical-align: middle;
  margin-right: 4px;
}

.markdown-reading-view h5,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-5
  :not(.cm-header.cm-header-5 ~ .cm-header.cm-header-5).cm-header.cm-header-5:not(.cm-formatting) {
  position: relative;
  margin-left: 20px;
}
.markdown-reading-view h5::before,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-5
  :not(.cm-header.cm-header-5 ~ .cm-header.cm-header-5).cm-header.cm-header-5:not(.cm-formatting)::before {
  content: 'H5';
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--font-text);
  color: var(--text-faint);
  font-size: 12px;
  vertical-align: middle;
  margin-right: 4px;
}

.markdown-reading-view h6,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-6
  :not(.cm-header.cm-header-6 ~ .cm-header.cm-header-6).cm-header.cm-header-6:not(.cm-formatting) {
  position: relative;
  margin-left: 20px;
}
.markdown-reading-view h6::before,
.markdown-source-view.is-live-preview
  .HyperMD-header.HyperMD-header-6
  :not(.cm-header.cm-header-6 ~ .cm-header.cm-header-6).cm-header.cm-header-6:not(.cm-formatting)::before {
  content: 'H6';
  position: absolute;
  left: -20px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: var(--font-text);
  color: var(--text-faint);
  font-size: 12px;
  vertical-align: middle;
  margin-right: 4px;
}

/* 全宽表格 */
:is(.markdown-preview-section, .markdown-rendered) table:not(.dataview.table-view-table) {
  width: 100%;
  border-collapse: collapse;
  overflow: auto;
  margin: 5px auto;
}

/* 斜体隐藏，hover 显示 */
.markdown-source-view.is-live-preview .cm-em.cm-formatting-em {
  display: none;
}
.markdown-reading-view em,
.markdown-source-view.is-live-preview .cm-em {
  font-style: normal;
  color: rgba(34 34 34 / 0);
  border-bottom: 1px solid rgb(34 34 34);
}
.markdown-reading-view em:hover,
.markdown-source-view.is-live-preview .cm-em:hover {
  color: rgb(34 34 34);
}

/* 修复代码折叠箭头太靠右的 BUG */
.markdown-source-view.mod-cm6 .cm-line:not(.cm-active):not(.HyperMD-header):not(.HyperMD-task-line) .cm-fold-indicator .collapse-indicator {
  padding-right: 0.25rem;
  right: 0;
}
